#formulario_listar{
	width: 600px;
	height: 400px;
	margin: 0 auto 0 auto;
}
#formulario{
	width: 200px;
	height: 300px;
	margin: 0 auto 0 auto;
}
#login{
	width: 200px;
	height: 200px;
	margin: 0 auto 0 auto;
}
table, th, td{
	border: 1px solid black;
}
table{
	width: 600px; 
}